@use "global" as *;

body {
    // width: rem(1000);
    background: rgba(255, 113, 1, 1);
}

dt {
    float: left;
}

dd {
    float: left;
    width: rem(800);
    height: rem(20);
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
}